extends layout

block content
  div.container
    div.row
      div.col-xs-12
        h1= title
    div.row#loading
      div.progress
        div.progress-bar.progress-bar-striped.active(style="width: 100%")
    div.row
      div.col-lg-6#statusDiv
        h3 Now Loading...
      div.col-lg-6
        canvas#EnvAQChart(width="400" height="400")
      div.col-lg-6
        canvas#EnvTemChart(width="400" height="400")
      div.col-lg-6
        canvas#EnvHumChart(width="400" height="400")
    footer
      p.text-center: small Designed by SkyZH. Data are collected in his home.
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.2/jquery.timeago.min.js")
  script(src="/javascripts/index.js")
  script(type='text/javascript').
    var data = !{JSON.stringify(data)};
  template#statusTemplate
    h2 Status
    div.col-lg-6: h3
      small Last Update
      br
      span {1}
      br
      small ({0})
      br
      small since {9}
    div.col-lg-6: h3
      small PM1.0 Average
      br
      span {2}µg/m
      sup 3
    div.col-lg-6: h3
      small PM2.5 Average
      br
      span {3}µg/m
      sup 3
    div.col-lg-6: h3
      small PM10 Average
      br
      span {4}µg/m
      sup 3
    div.col-lg-6: h3
      small Temperature Average
      br
      span {5}℃
    div.col-lg-6: h3
      small Humdity Average
      br
      span {6}%
    div.col-lg-6: h3
      small Heat Index Average
      br
      span {7}℃
    div.col-lg-6: h3
      small Sensor Failure
      br
      span {8}%
