extends layout

block content
  div.container
    div.row
      div.col-xs-12
        h1= title
    div.row
      div.col-lg-6
        canvas#EnvAQChart(width="400" height="400")
      div.col-lg-6
        canvas#EnvTemChart(width="400" height="400")
      div.col-lg-6
        canvas#EnvHumChart(width="400" height="400")
    footer
      small
        p Designed by SkyZH. Data are collected at his home.
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.2/jquery.timeago.min.js")
  script(src="/javascripts/index.js")
  script(type='text/javascript').
    var data = !{JSON.stringify(data)};
